.chat__message {
  position: relative;
  min-width: 40px;
  max-width: 400px;
  padding: 11px;
  font-size: 13px;
  background: $bg-message-in;
  margin-bottom: 10px;

  &-in {
    align-self: flex-start;
    border-radius: 2px 12px 12px;
  }

  &-out {
    align-self: flex-end;
    background: $bg-message-out;
    border-radius: 12px 12px 2px;
  }

  &-img {
    padding: 0;
    border: $border;
    border-radius: 12px;
    overflow: hidden;
  }
  &-img &_time {
    position: absolute;
    bottom: 10px;
    right: 8px;
    background: rgba(#525252, 0.6);
    color: #fff;
    padding: 0 7px;
    border-radius: 10px;
  }

  &_time {
    font-size: 10px;
    color: $text-light;
    text-align: right;
    margin-bottom: -6px;
  }

  img {
    display: block;
  }
}
