@import "../variables";

.profile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;

  &__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: $bg-default-color;
    border-right: $border;
    padding: 18px;
    display: flex;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 510px;
  }

  &__avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: $bg-dark-color;

    span {
      color: $text-light;
      font-size: 40px;
    }

    input[type=file] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    width: 100%;
    margin-top: 50px;

    &-row {
      display: flex;
      align-items: center;
      border-top: $border;

      &:first-child {
        border: none;
      }

      label {
        width: 50%;
      }

      input[type=text] {
        background: transparent;
        border: none;
        text-align: right;
        color: $text-light;
      }
    }
  }
}
