<div class="chats">
    <div class="dialogs">
        <div class="dialogs__header">
            <div class="dialogs__profile">
                <a href="#">
                    Профиль <span class="material-icons">chevron_right</span>
                </a>
            </div>
            <div class="dialogs__search">
                {{> input/input name="search" class="chats__text-field" placeholder="Поиск" }}
            </div>
        </div>

        <ul class="dialogs__list">
            {{> dialog/dialog}}
            {{> dialog/dialog unread="4" }}
            {{> dialog/dialog}}
            {{> dialog/dialog}}
        </ul>

    </div>
    <div class="chat">
        <div class="chat__header">
            <div class="chat__info">
                {{> dialog/dialog info="true"}}
            </div>
            <div class="chat__actions">
                {{> icon-button/icon-button icon="more_vert" }}
            </div>
        </div>
        <div class="chat__messages">
            <h5>19 июня</h5>
            <ul>
                {{> message/message
                        type="in"
                        text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
                            момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем
                            что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся
                            на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                            Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                            никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе
                            за 45000 евро."
                        time="11:56"
                }}
                {{> message/message type="in" time="12:06" img="https://random.imagecdn.app/300/200" alt="message image"  }}
                {{> message/message type="out" text="Круто!" time="12:10" }}
                {{> message/message type="in" text="lala" time="12:11" }}
            </ul>
        </div>
        <form class="chat__form">
            {{> icon-button/icon-button icon="attach_file" }}
            {{> input/input name="message" class="chats__text-field" placeholder="Сообщение" }}
            {{> icon-button/icon-button icon="east" primary="true" }}
        </form>
    </div>
</div>
