<div class="login-form">
    <form>
        <h1>Регистрация</h1>

        {{> form-field/form-field label="Почта" name="login" type="text" }}
        {{> form-field/form-field label="Логин" name="password" type="text" }}
        {{> form-field/form-field label="Имя" name="password" type="text" }}
        {{> form-field/form-field label="Фамилия" name="password" type="text" }}
        {{> form-field/form-field label="Телефон" name="password" type="text" }}
        {{> form-field/form-field label="Пароль" name="password" type="password" }}
        {{> form-field/form-field label="Пароль (ещё раз)" name="password" type="password" }}

        <div class="login-form__buttons">
            <button type="submit">Зарегистрироваться</button>
            <a href="#">Войти</a>
        </div>
    </form>
</div>
