<div class="error-page">
    <div class="error-page__info">
        <h1 class="error-page__info_number">{{ error }}</h1>
        <h2 class="error-page__info_title">{{ text }}</h2>

        <a href="{{ href }}">{{ link }}</a>
    </div>
</div>
