@import "../variables";

input {
  height: 37px;
  border: none;
  border-bottom: 1px solid $primary-color;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  background: transparent;

  &:focus {
    border-color: $primary-color-hover;
  }
}
