<div class="login-form">
    <form>
        <h1>Вход</h1>

        {{> form-field/form-field label="Логин" name="login" type="text" }}
        {{> form-field/form-field label="Пароль" name="password" type="password" }}

        <div class="login-form__buttons">
            <button type="submit">Авторизоваться</button>
            <a href="#">Нет аккаунта?</a>
        </div>
    </form>
</div>
